html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
@media (min-width: 992px) {
  .now {
    width: 40.6%;
    height: 300px;
  }
}
@media (max-width: 992px) {
  .now {
    width: 95.4%;
    margin: auto;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .sixday {
    padding: 20px;
    min-height: 370px;
  }
}
.darksky a {
  color: white;
}
